    <li class="nav-header">
            BEARBEITEN
    </li>
    <li class="nav-item">
        <a href="{% url 'IKVindustry:update' object.pk %}" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Stammdaten</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'IKVindustry:update_file' object.pk %}" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Dokumente</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'IKVindustry:update_outgoing' object.pk %}" class="nav-link">
            <i class="nav-icon fas fa-euro-sign"></i>
            <p>Ausgaben</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'IKVindustry:update_workpackage' object.pk %}" class="nav-link">
            <i class="nav-icon fas fa-archive"></i>
            <p>Arbeitspakete</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'IKVindustry:protocol' object.pk %}" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Protokoll</p>
        </a>
    </li>
    <p></p>
    <li class="nav-item">
        {% if template_name == "_detail" %}
        <a href="{% url 'IKVindustry:list' %}" class="nav-link">
            <i class="nav-icon fas fa-chevron-left"></i>
            <p>Zurück</p>
        </a>
        {% else %}
        <a href="{% url 'IKVindustry:detail' object.pk %}" class="nav-link">
            <i class="nav-icon fas fa-chevron-left"></i>
            <p>Zurück</p>
        </a>
        {% endif %}
    </li>
