{% if object.status == 'CR' %}
    <h3 class="text-primary"> {{object.short_title}} - FA {{object.fanr}}</h3>
    <span class="badge bg-primary">{{object.get_status_display}}</span>
{% elif object.status == 'GO' %}
    <h3 class="text-success"> {{object.short_title}} - FA {{object.fanr}}</h3>
    <span class="badge bg-success">{{object.get_status_display}}</span>
{% elif object.status == 'END' %}
    <h3 class="text-gray"> {{object.short_title}} - FA {{object.fanr}}</h3>
    <span class="badge bg-gray">{{object.get_status_display}}</span>
{% elif object.status == 'DD' %}
    <h3 class="text-gray-dark"> {{object.short_title}} - FA {{object.fanr}}</h3>
    <span class="badge bg-gray-dark">{{object.get_status_display}}</span>
{% endif %}
